{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ingredient list</h1>

    {% for key, color in entities %}
        <p style="background-color: {{ color }};">
            {{ key }}
        </p>
    {% endfor %}
{% endblock %}
