{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ingredient list</h1>

    {% for entity in entities %}
        <p>
            {{ entity.name }}
        </p>
    {% endfor %}
{% endblock %}
