{% extends "HCocktailBundle::layout.html.twig" %}

{% block main %}

    <h1>Quel est ton Cocktail ?</h1>


    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('stat') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
